body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.blue{
    background-color: #527baade;
    padding: 15px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
 .jezyki
 {
     font-size: 15px;
 }
 #branding img{
    float: left;
    margin: 20px;
 }

ul{
    margin: 0;
    padding: 0;}

header{
    background-color: #f6f6f6;
    color: #35424a;
    padding-top: 30 px;
    min-height: 70px;
    border-bottom: 4px solid #214B8C;}
    

header a{
    color: #35424a;
    text-decoration: none;
    text-transform: uppercase;
    font: weight 500px;
    font-size: 20px;}

header nav{
    float: right;
    margin: 49px 0 20px 0;}

header li{
    display: inline;
    float: left;
    padding: 0 20px 0 20px;}

    #showcase{
        min-height: 450px;
        background: url('../img/tło.jpg') no-repeat 0 -250px;
        background-size: 100%;
        text-align: center;
        background-position:center;
        color: #f4f4f4;}
        #showcase h1{
            margin-top: 105px;
            font-size: 45px;
            font-weight:normal;
            margin-bottom: 0px;
            line-height: 1.6em;
            text-shadow: 3px 3px 13px#181a22
        }
        #showcase p{
            font-size: 20px;
            text-shadow: 4px 4px 11px#181a22;}
.button3{
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 20px;
    display: inherit;
    width: 10%;
    min-width: 100px;
    text-decoration: none;
    font-size: 20px;
    background-color: #527baa;
    padding: 8px 8px;
    border: 3px solid #fff;
    color: #fff;
}

.zob{
text-align: center;
padding-top: 15px;
}
.button{
    background:url(../img/strzałka2.png) no-repeat;
    cursor:pointer;
    width: 50px;
    height: 50px;
    border: none;
}
.button2{
    background:url(../img/strzałka3.png) no-repeat;
    cursor:pointer;
    width: 50px;
    height: 50px;
    border: none;
}
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    font-weight:lighter;
    color: #35424a;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
    display: inline-block;
    padding: 30px;
    image-rendering: auto;
}
article#main-col{
    float: right;
    width: 63%;
    color: #35424a;
}
article .page-title{
 border-bottom: 3px solid #dbdbdd;
}
article .style{
    border-bottom:3px dotted #527baa;
}
.sidebar{
    float: left;
    width: 33%;
    text-align: left;
    list-style: none; }

#ja {
   margin: 25px 0 15px 0;
}
#boxes .title2{
    color: #35424a;
    margin-top: 30px;
    border-bottom:double #35424a;
}



footer{
    padding: 10px;
    margin-top: 200px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #214B8C;
    text-align: center;}



    @media(max-width :768px)
    {
        aside.sidebar,
        article#main-col
        {
        float: none;
        text-align: center;
        width: 100%;
        }
       
        
        
    }
